<h1>search for a course</h1>
<head>
	<script type="text/javascript">
	function inputchange() {
	  $("#search_form").submit();
	}
	</script>
</head>

<body>
<%= form_tag("../search/partial_render", method: "get", remote: true, id: "search_form") do %>


	Subjects:

	<select name="subject" onchange="inputchange()">
		<option value="<%=options_for_select(@notes)%>"></option>
	</select>

  Courses:

	<input type="text" oninput = "inputchange()" name="course">


<%end%>
<br><br>

<p>
  <div id = "results">
<%= render "partial_search"%>
  </div>

</p>

<%=link_to 'go back home', root_path%>
</body>
